<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulgebra.luxscaradmin">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleCarDetail"
            android:label="@string/title_activity_single_car_detail"
            android:parentActivityName=".Cars"
             />
        <activity android:name=".AdminShownCars" />
        <activity android:name=".AdminHiddenCars" />
        <activity android:name=".AdminBookingHistory"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AdminMainScreen" />
        <activity android:name=".SearchBooking"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".AddNewCar"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Cars"
            android:label="@string/title_activity_cars"
            android:parentActivityName=".AdminMainScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ulgebra.luxscaradmin.AdminMainScreen" />
        </activity>
        <activity android:name=".BookingDetails"
            android:parentActivityName=".BookingHistory"></activity>
        <activity android:name=".BookingHistory"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Check_Cars"></activity>
        <activity android:name=".SingleBookingDetails"
            android:parentActivityName=".BookingHistory"></activity>
        <activity android:name=".CancelBooking"
            android:parentActivityName=".SingleBookingDetails"></activity>

    </application>

</manifest>